.SP {padding-top:20px;}

#eliteform {padding-bottom:20px;}

#div1 {
  text-align: center;
  margin-top: 60px;
}

#div2 {
  text-align: center;
  margin-top: 15px;
}

#div3 {
  text-align: center;
  margin-top: 15px;
}

#div4 {
  text-align: center;
  margin-top: 15px;
}

#div5 {
  text-align: center;
  margin-top: 15px;
}

#div6 {
  margin-right: 130px;
  padding-bottom: 20px;
  padding-top: 5px;
}

#div7 {
  float: left;
  margin-top: 15px;
  margin-left: 200px;
}

#input1 {
  width: 120px;
  margin-left: 30px;
  margin-bottom: 15px;
}

#input2 {
  width: 120px;
  margin-left: 30px;
}

#input3 {
  width: 120px;
  margin-right:124px;
}

#input4 {
  width: 120px;
  margin-right:124px;
  height: 25px;
}

#input5 {
  height: 150px;
}

#button1 {
  margin-right: 35px;
  background-color: red;
  border: red;
  margin-top:30px;
  margin-left:20px;
}

#button1:hover {background-color: #b20000;
			    transition: 0.3s;}

#b1text {
  color: white;
  text-decoration: none;
}

input {
  color: black;
}

textarea {
  color: black;
}

select {
  color: black;
}

option {
  color: black;
}