p {
  margin-top: 10px;
}

label {
  font-weight: normal;
  padding-left: 5px;
}

#div02 {
  margin-top: 30px;
  float: left;
  padding-left: 40px;
}

#div03 {
  margin-top: 20px;
  float: left;
  padding-left: 40px;
}

.left {
  background-color: #010101;
  margin-left: 220px;
  position: fixed;
  margin-top: 80px;
  height: 200px;
  z-index: 1;
}

.left p {
  padding-left: 5px;
  margin-top: 5px;
}

.pp {
  display: inline;
}

.right {
  margin-top: 20px;
}

.img1 {
  margin-top: 80px;
  margin-left: 50px;
}

.order {
  height: 20px;
  margin-bottom: 20px;
}

#ordem {
  padding-left: 20px;
}

#img1 {
  max-width: 100%;
}

#item2 {
  color: black;
}

#item2 option {
  color: black;
}

#divpreço {
  font-size: 18px;
}

#divpreço2 {
  font-size: 18px;
  padding-bottom: 50px;
}

#filtrar {
  float: right;
  margin-right: 12px;
  margin-top: 5px;
  background-color: red;
  border: red;
}

#filtrar:hover {
  background-color: #b20000;
  transition: 0.3s;
}